.git
node_modules
df-downloader-common/node_modules
df-downloader-common/dist

df-downloader-ui/node_modules
df-downloader-ui/dist

df-downloader-service/node_modules
df-downloader-service/dist
df-downloader-service/public
df-downloader-service/config
df-downloader-service/db
df-downloader-service/*.env
df-downloader-service/*.log
