# Your session ID cookie. I haven't implemented Patreon login, so you'll have to use your browser, login to digitalfoundry.net
# then use your browser's dev tools to grab your session_id cookie

DF_SESSION_ID=YOUR_SESSION_ID_COOKIE

# This is where content is downloaded to and metadata is added

WORK_DIR=/path/to/work/dir

# The path to move the downloaded and tagged media to once it's finished
DESTINATION_DIR=/path/to/destination/dir

# This is more of a live config dir and is currently only used for the ignore list
CONFIG_DIR=./config

# Total number of simultaneous DOWNLOAD_STARTING
MAX_SIMULTANEOUS_DOWNLOADS=2

# Time in milliseconds after detecting new content before attempting download
DOWNLOAD_DELAY=60000

# Set the log level
LOG_LEVEL=DEBUG

# Sets media type priorities. It'll always download SOMETHING if it's available but this is the priority (from highest to lowest)
# In the below example, HEVC is the most preferred media type
MEDIA_TYPE_PRIORITIES=HEVC,h.264,MP3

# Sets the maximum number of pages to scan through when looking for content (note: on first run
# all found content will be added to DB but not downloaded)
# Default is infinity

# MAX_ARCHIVE_DEPTH=1

# Enable or disable scanning dirs for existing downloads

# SCAN_FOR_EXISTING_FILES=true

# Set maximum number of simultaneous connections per download. This is a bit experimental at this stage so.. here there be dragons and all that.
# If your download speeds are slower than expected, try this out. Once I've run this for a while without issues I'll update the default

# MAX_CONNECTIONS_PER_DOWNLOAD=1

# If you use pushbullet you can have the downloader send you notifications
#PUSHBULLET_API_KEY=YOUR_PUSHBULLET_API_KEY
#PUSHBULLET_SUBSCRIBED_NOTIFICATIONS=DOWNLOAD_COMPLETE,DOWNLOAD_FAILED,DOWNLOAD_STARTING,NEW_CONTENT_DETECTED,DOWNLOAD_QUEUED,USER_NOT_SIGNED_IN

# DEEPGRAM_API_KEY

# Set this if you want to automatically generate subtitles for downloaded videos